body{
    background-color: hsl(229, 24%, 87%);
    font-family: 'Ubuntu', sans-serif;
    margin: ;
}


.main-contianer{
    
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-self: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    transform: translate(-50%,-50%);
    background-color: hsl(0, 0%, 100%);
    gap: 5vw;
    padding: 1rem 1rem;
    padding-bottom: 0.3rem;
    border-radius: 15px;
    height: 36rem;
}

.multi-steps-container{
    background-image: url("/Resources/multi-step-form-main/assets/images/bg-sidebar-desktop.svg");
    padding: 2rem;
    width: 13rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 87%;
    z-index: 1;
    gap: 2rem;
}

.list-of-steps{
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    align-items: center;
}


/*This is where I change the background of the number*/
.div-in-number {
    color: white;
    text-align: center;
    background-color: hsl(243, 100%, 62%);
    border: 2px solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    align-items: center;
}

.div-in-number p{
    margin-top: 0.4rem;
}

.steps-designs p{
    margin-bottom: 0.2rem ;
    margin-top: 0.2rem;
}

.step-number{
    font-size: 0.7rem;
    color: hsl(231, 11%, 63%);
}

.step-step{
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
}

/*This is where i change steps*/

#personal-info-container{

}

#select-plan-container{
    display: none;
}

#add-ons-container{
    display: none;
}

#summary-container{
    display: none;
}

/*This is where i change steps*/

/*This is where the styling of the steps is.*/
.step-title{
    color: hsl(213, 96%, 18%);
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.step-description{
    color: hsl(231, 11%, 63%);;
}

/*------------------*/

/*persona info container design*/

.user-details-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.6rem;
}
